{% extends 'base.html' %}
{% load explore_template_utils %}
{% load main_template_utils %}
{% load static %}

{% block extra_static %}
    <link type="text/css" href="{% static 'main_app/css/base_main_app_styles.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'tweets/css/tweets_styles.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'user_profile/css/profile_styles.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
    <script type="module" src="{% static 'tweets/js/tweets_js.js' %}" defer></script>
    <script type="module" src="{% static 'user_profile/js/user_profile_js.js' %}" defer></script>
{% endblock %}

{% block container %}
    <div class="app-container container-xl">
        <div class="row row-cols-2 row-cols-lg-3">
            {% block left_sidebar %}
                {% include 'main_app/_left_sidebar_nav.html' %}
            {% endblock %}

            {% block content %}
                <div class="content-container content-width col-9 col-lg-6 border-end g-0">
                    {% block upper_content %}
                    {% endblock %}

                    {% block main_content %}
                    {% endblock %}

                    {% include 'tweets/tweet_modal_snippet.html' with tweet='' %}
                </div>
                {{ block.super }}
            {% endblock %}

            {% block right_sidebar %}
                <div class="d-none d-lg-block col-lg-3">
                    {% render_search_form %}
                    {% render_right_sidebar_topics %}
                    {% render_right_sidebar_users %}
                </div>
            {% endblock %}

            {% block footer %}
                {% include 'main_app/_footer.html' %}
            {% endblock %}
        </div>
    </div>
{% endblock %}