/* NAVIGATION */

.nav-item.profile.active {
    position: relative;
}

.nav-item.profile .nav-link {
    color: rgb(83, 100, 113);
}

.nav-item.profile.active .nav-link {
    color: rgb(15, 20, 25);
    font-weight: 700;
}

.nav-item.profile.active .nav-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(29, 155, 240);
    width: auto;
    content: "";
    height: 4px;
}