{% extends 'main_app/base_main_app.html' %}
{% load tweets_template_utils %}
{% load static %}

{% block extra_static %}
    {{ block.super }}
    <link type="text/css" href="{% static 'notifications/css/notifications_styles.css' %}" rel="stylesheet">
{% endblock %}

{% block upper_content %}
    <div class="mentions-header px-3 pt-2 pb-2 border-bottom">
        <div class="header-name">
            <span>Уведомления</span>
        </div>
    </div>
{% endblock %}

{% block main_content %}
    <div class="mentions-container">
        {% for mention in mentions %}
            <div class="user-mention" id="user-mention{{ mention.pk }}">
                {% render_short_tweet mention %}
                {% include 'tweets/tweet_modal_snippet.html' with tweet=mention %}
            </div>
        {% empty %}
            <div class="empty-mentions text-center py-5 px-5">
                <div class="head-message">
                    <span>Пока что нет уведомлений</span>
                </div>
                <div class="bottom-message">
                    <span>
                        Мы сообщим Вам, когда здесь что-то появится.
                    </span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
