.main-text {
    font-size: 66px;
    font-weight: 900;
}

.sub-text {
    font-size: 32px;
    font-weight: bold;
}

.to-register-btn {
    background-color: rgb(29,161,242);
    border-color: rgb(29,161,242);
}

.to-login-btn {
    color: rgb(29,161,242);
}

.to-login-btn:hover {
    color: rgb(29,161,242);
    background-color: rgb(231, 242, 243);
}

.nav-link.link:hover {
    text-decoration: underline;
}

.register-container,
.login-container {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
}

.register-form {
    background-color: white;
    border-radius: 15px;
}

.back-to-index {
    color: black;
}

.back-to-index:hover {
    color: black;
}