{% extends 'main_app/base_main_app.html' %}
{% load static %}

{% block extra_static %}
    {{ block.super }}
    <link type="text/css" href="{% static 'user_profile/css/profile_styles.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'user_profile/js/user_profile_js.js' %}" defer></script>
{% endblock %}

{% block upper_content %}
    <div class="profile-container">
    </div>
    <div class="nav-container">
        <ul class="nav border-bottom">
            <li class="nav-item profile py-2 flex-grow-1 text-center">
                <a class="nav-link" href="{% url 'user_profile:profile_tweets' username %}">Твиты</a>
            </li>
            <li class="nav-item profile py-2 flex-grow-1 text-center">
                <a class="nav-link" href="{% url 'user_profile:profile_replies' username %}">Твиты и ответы</a>
            </li>
            <li class="nav-item profile py-2 flex-grow-1 text-center">
                <a class="nav-link" href="#">Медиа</a>
            </li>
            <li class="nav-item profile py-2 flex-grow-1 text-center">
                <a class="nav-link" href="{% url 'user_profile:profile_likes' username %}">Нравится</a>
            </li>
        </ul>
    </div>
{% endblock %}>

{% block main_content %}
{% endblock %}