{% extends 'user_profile/base_profile.html' %}
{% load static %}
{% load tweets_template_utils %}

{% block main_content %}
    <div class="tweets-container">
        {% for tweet in root_tweets %}
            <div class="profile-tweet" id="profile-tweet{{ tweet.id }}">
                {% if tweet.user.username != profile_owner.username %}
                    {% render_short_tweet tweet is_retweet=True %}
                {% else %}
                    {% render_short_tweet tweet %}
                {% endif %}
                {% include 'tweets/tweet_modal_snippet.html' with tweet=tweet %}
            </div>
        {% endfor %}
    </div>
{% endblock %}